# KERI AsyncIO Muggle Implementation - KAMI
# A Python KERI for Muggles using Python's AsyncIO async/await instead of HIO

[packages]
aiofiles = '23.2.1'
apispec = "==6.6.0"
blake3 = "==0.4.1"
cbor2 = "==5.6.2"
cryptography = "==42.0.5"
falcon = "==3.1.3"
hjson = "==3.1.0"
http_sfv = "==0.9.9"
hypercorn = "==0.16.0"
jsonschema = "==4.21.1"
lmdb  = '==1.4.1'
mnemonic = "==0.21"
msgpack = "==1.0.8"
multicommand = "==1.0.0"
multidict = "==6.0.5"
ordered-set = "==4.1.0"
PrettyTable = "==3.10.0"
pysodium = "==0.7.17"
PyYaml = "==6.0.1"
semver = "==3.0.2"
uvloop = '==0.19.0'

[dev-packages]
coverage = "==7.4.4"
pytest = "==8.0.1"
pytest-asyncio = "==0.23.5"
pytest-shell = "==0.3.2"

[requires]
python_version = '3.12.2'